.main-container {
  display: grid;
  margin: 0;
  grid-template-columns: 4fr;
  grid-template-areas: "portada"
                       "intro"
                       "promise"
                       "pricing"
                       "contact";
  @include mobile {
    grid-template-columns: 1fr;
    grid-template-areas: "portada"
                         "intro"
                         "promise"
                         "pricing"
                         "contact"
  }
  .portada {
    grid-area: portada;
  }
  .intro {
    grid-area: intro;
  }
  .promise {
    grid-area: promise;
  }
  .pricing {
    grid-area: pricing;
  }
  .contact {
    grid-area: contact;
  }
}
