@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,700');
// FONTS
$font: 'Ubuntu', sans-serif;


// COLORS

$deep-black: rgb(8, 8, 8);
$dark-grey: rgb(18, 18, 18);
$digital-green: rgb(44, 168, 0);
$digital-blue: rgb(7, 177, 214);
$digital-deepblue: rgb(7, 123, 148);
$digital-lightblue: rgb(105, 228, 255);
$digital-orange: rgb(215, 111, 9);
$digital-violet: rgb(200, 84, 124);
$gradient-one: linear-gradient(215deg, #00dede, #107d8f);
$gradient-two: linear-gradient(215deg, #c8547c, #d76f09);

// QUERIES

$break-small: 320px;
$break-large: 782px;
