{{define "main"}}
{{if .Params.image}}
  <div class="post-card-image" style="background-image: url({{.Params.image | absURL}})"><h1>{{.Title}}</h1><p>{{.Description}}</div>
{{end}}
  <div class="content-page">
    <div class="right">
    <h2>Destacados</h2>
    <p>dentro de póco tendre mi primer artículo, ¡esperalo!</p>
    <!-- <ul class="post-list">
    {{ range .Data.Pages.ByWeight }}
      <a href="{{.Permalink}}">
        {{if .Params.image}}
        <li style="background-image: url({{.Params.image | absURL}})">
        {{end}}
          <div>
            {{.Title}}
          </div>
        </li>
      </a>
    {{ end }}
    </ul> -->
  </div>
    <section class="blog-description">{{ .Content }}</section>
    {{ partial "sidebar" . }}
  </div>
{{end}}
