{{define "main"}}
{{if .Params.image}}
  <div class="post-card-image" style="background-image: url({{.Params.image | absURL}})"></div>
{{end}}
<section id="main">
  <div class="article">
    <h1 id="title">{{ .Title }}</h1>
    <div>
          <article id="content">
             {{ .Content }}
          </article>
    </div>
  </div>
  <aside id="meta">
      <div id="bars">
      {{ partial "sidebar" . }}
      {{ partial "tags" . }}
      </div>
      <div class="other-article">
          {{ with .PrevInSection }}
            <p><strong>Siguiente Articulo</strong></p>
            <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
          {{ end }}
          {{ with .NextInSection }}
            <p><strong>Articulo Anterior</strong></p>
            <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
          {{ end }}
      </div>
  </aside>
</section>
{{end}}
