{{ define "main"}}
<div class="taxonomies-body">
  <h1>Contenidos por etiquetas</h1>
  <ul class="taxonomies">
  {{ range .Data.Pages }}
     <li>
       <a href="{{ .Permalink }}">{{ .Title }}</a>
     </li>
  {{ end }}
  </ul>
  <a href="/">Volver a Inicio</a>
</div>
{{end}}
