* {
  margin: 0 auto;
}

.nav-space {
  height: 56px;
  width: 100%;
  @include mobile {
    height: 52px;
  };
}

#title {
  font-size: 2.5rem;
}

body {
  background: white;
  font-family: $font;
}

//LIST STYLES
.content-page{
  margin: 2rem auto;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 8fr 3fr;
  grid-gap: 30px;
  grid-template-areas: "right left" "right post";
  @include mobile{
    grid-template-columns: 1fr;
    padding: 0 15px;
    grid-template-areas: "right" "left" "post"
  };
  .right{
    grid-area: right;
    .post-list{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 0;
      grid-gap: 20px;
      list-style: none;
      @include mobile{
        grid-template-columns: 1fr;
      };
      a {
        text-decoration: none;
        color: white;
        width: 100%;
        li {
          height: 200px;
          border-bottom-right-radius: 20px;
          background-size: cover;
          filter: grayscale(1);
          transition: .5s;
          box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
          &:hover{
            filter: grayscale(0);
          }
          div {
            background: black;
            padding: 10px;
            margin-top: 10%;
          }
        }
      }
    }
  }
  .blog-description{
    grid-area: left;
  }
}

.post-card-image {
  height: 70vh;
  background-position: top left;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 7%;
  h1{
    font-size: 3rem;
    margin: auto 0;
    padding-top: 3rem;
  }
  p{
    max-width: 400px;
    margin: 0;
    padding-top: 1rem;
  }
}

#main {
  margin: 30px 5% 30px 5%;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 8fr 3fr;
  grid-template-areas: "left right";
  @include mobile{
    grid-template-columns: 1fr;
    grid-template-areas: "left" "right";
  };
  .article {
    grid-area: left;
  }
  h2 {
    margin: 1.7rem 0;
  }
  h3{
    margin: 1.4rem 0;
  }
  h4 {
    margin: 1.2rem 0;
  }
  p {
    margin: 1rem 0;
  }
  #meta {
    grid-area: right;
  }
}

#sidebar-recent-post, #tagsmain {
  grid-area: post;
  margin-left: 0;
  h2 {
    margin-bottom: 18px;
    margin-top: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 24px;
    li {
      margin-bottom: 5px;
      a{
      color: rgb(55, 55, 55);
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
      &:visited{
        color: rgb(91, 91, 91);
        }
      }
    }
  }
}

.other-article {
  a {
    color: rgb(55, 55, 55);
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
    &:visited{
      color: rgb(91, 91, 91);
    }
  }
}

// TAXONOMIES Pages

.taxonomies-body{
  height: 70vh;
  margin: 0 8%;
  h1 {
    margin: 7vh 0;
  }
  a{
    color: grey;
  }
}
.taxonomies {
  margin: 5vh 0;
  li{
    a{
      color: black;
      text-decoration: none;
      size: 1.5rem;
    }
  }
}

// social Sharing

#social-sharing{
  list-style: none;
  padding: 0;
  li{
    margin: 0 1.6rem 0 0;
    display: inline-block;
    a{
      color: black;
      font-size: 2rem;
    }
  }
}
