footer{
  background: black;
  color:white;
  padding: 1rem;
  display: grid;
  z-index: 4;
  .footer-content {
    max-width: 980px;
    display: grid;
    grid-template-columns: 3fr 3fr 6fr;
    grid-gap: 20px;
    grid-template-areas: ". left right";
    @include mobile {
      grid-template-columns: 1fr;
      grid-template-areas: "."
                           "left"
                           "right";
    };
    .left-side {
      grid-area: left;
      margin-left: 0;
      text-align: left;
      h2{
        font-size: 1rem;
      }
      ul {
        list-style: none;
        padding: 0;
        line-height: 1.6rem;
        li {
          a {
            text-decoration: none;
            font-size: 0.8rem;
            color: grey;
            &:hover {
              color: white;
            }
          }
        }
      }
    }
    .right-side {
      grid-area: right;
      margin-left: 0;
      h2 {
        font-size: 1rem;
      }
      #nav {
        list-style: none;
        padding: 0;
        li {
          display: inline-block;
          margin-right: 1rem;
          a {
            text-decoration: none;
            color: grey;
            font-size: 0.8rem;
            &:hover {
              color:white;
            }
          }
        }
      }
      #social {
        list-style: none;
        padding: 0;
        li {
          display: inline-block;
          a {
            font-size: 1.2rem;
            color: white;
            margin-right: 1.2rem;
          }
        }
      }

      p {
        font-size: 0.8rem;
        color: grey;
      }
    }
  }
}

#mc_embed_signup .button {
  background: rgb(18, 18, 18);
  transition: .4s;
  font: $font;
}
