nav{
  display: grid;
  margin: auto;
  max-width: 980px;
  padding: 0 10px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas: "logo . . . . . menu menu menu menu";
  @include mobile {
    margin: 0 15px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "logo . icon"
                         "menu menu menu";
  };
  .menu-icon{
    color: white;
    cursor: pointer;
    grid-area: icon;
    display: none;
    @include mobile {
      display: block;
    };
  }
  a{
    text-decoration: none;
  }
  .logo{
    grid-area: logo;
    color: white;
    margin: auto;
    font-weight: 700;
    font-size: 1.6rem;
    span{
      color: $digital-blue;
      font-weight: 700;
      margin-right: 0.6rem;
    }
    @include mobile{
      margin-bottom: 0.6rem;
      p {
        font-size: 1.5rem;
      }
    };
  }
  .menu{
    grid-area: menu;
    margin: auto;
    @include mobile {
      display: none;
      margin: 0;
      background: $deep-black;
    };
    ul{
      list-style: none;
      padding: 0;
      li{
        display: inline-block;
        margin: 0 0.8rem;
        list-style-type: none;
        @include mobile {
          display: block;
          text-align: center;
          margin: 0;
          padding: 0.5rem;
          border-bottom: 3px groove black;
        }
        a{
          color: white;
          font: 1rem $font;
          text-decoration: none;
          transition: 0.3s;
          &:hover {
            color: $digital-blue;
          }
          @include mobile{
            font-size: 1rem;
          };
        }
      }
    }
  }
}

.nav-container{
  width: 100%;
  position: fixed;
  z-index: 10;
  background: black;
  padding: 0.8rem;
  @include mobile{
    padding-bottom: 0;
  };
}
