//HTML ELEMENTS

p {
  line-height: 2rem;
  @include mobile {
    font-size: 1rem;
    text-align: justify;
  };
}

//PORTADA

.portada {
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-template-areas: "left-half right-half";
  background: rgb(5, 5, 5);
  margin: 0;
  @include mobile {
    grid-template-columns: 1fr;
    grid-template-areas: "right-half"
  };
  .left-half {
    grid-area: left-half;
    clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
    width: 100%;
    height: 600px;
    background: linear-gradient(215deg, #24ffc7, #03a4bf, #c8547c, #d76f09);
    background-size: 800% 800%;
    animation: Gradient 30s ease infinite;
    position: relative;
    overflow: hidden;
    @include mobile {
      display: none;
    };
    div {
      .cog-1{
        position: fixed;
        left: 27%;
        top: 35%;
        font-size: 2rem;
        animation: spiner 4s linear infinite;
      }
      .cog-2{
        position: fixed;
        left: 23%;
        top: 40%;
        font-size: 3rem;
        animation: spiner 4s linear infinite reverse;
      }
      .cog-3{
        position: fixed;
        left: 28%;
        top: 40%;
        font-size: 5rem;
        animation: spiner 4s linear infinite;
      }
    }
    .cloud {
      position: fixed;
      font-size: 11rem;
      top: 48%;
      left: 17%;
    }
    }
  .right-half {
    grid-area: right-half;
    padding: 0 30px;
    margin: auto;
    @include mobile {
      background: linear-gradient(215deg, #24ffc7, #03a4bf, #c8547c, #d76f09);
      background-size: 800% 800%;
      animation: Gradient 30s ease infinite;
      padding: 0;
    };
    div {
      margin: auto;
      @include mobile{
        background: rgba(0,0,0,0.7);
        padding: 20px;
        margin: 100px 0;
      };
      h1 {
        text-align: center;
        color: white;
        font-size: 3rem;
      }
      a {
        display: grid;
        justify-self: center;
        align-self: center;
        .arrow {
          text-align: center;
          font-size: 4rem;
          color: white;
        }
      }
    }
  }
}

//INTRO

.intro {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-template-areas: "h2 p";
  padding: 30px;
  grid-gap: 15px;
  max-width: 980px;
  @include mobile{
    grid-template-columns: 1fr;
    grid-template-areas: "h2" "p";
  };
  h2 {
    grid-area: h2;
    align-self: center;
    font-size: 2.5rem;
    background: $gradient-one;
    background-clip: text;
    color: rgba(0,0,0,0);
    text-align: center;
    @include mobile {
      margin-bottom: 20px;
    };
  }
  p {
    grid-area: p;
  }
}

.promise {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "lms" "blog" "mail";
  max-width: 1600px;
  margin: 0 auto;
  .lms {
    margin: 30px 0;
    display: grid;
    grid-area: lms;
    grid-template-columns: 4fr 4fr;
    grid-template-areas: "img h2" "img p";
    align-items: flex-end;
    @include mobile {
      grid-template-columns: 1fr;
      grid-template-areas: "img" "h2" "p"
    };
    .img{
      grid-area: img;
      box-shadow: 3px -2px 20px rgba(0,0,0,0.2);
      height: 406px;
      width: 640px;
      opacity: 0;
      -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(83%, transparent) , to(rgba(250, 250, 250, 0.3)));
      transition: 1s;
      @include mobile {
        opacity: 1;
        margin: 0 auto;
        max-width:320px;
        max-height: 240px;
      };
      img {
        width: 100%;
        height: auto;
      }
    }
    h3 {
      grid-area: h2;
      font-size: 2rem;
      background: $gradient-two;
      background-clip: text;
      color: rgba(0,0,0,0);
      opacity: 0;
      transition: .3s;
      padding: 40px;
      @include mobile{
        opacity: 1;
      };
    }
    p {
      padding: 0 40px;
      align-self: flex-start;
      grid-area: p;
      opacity: 0;
      transition: .3s;
      @include mobile{
        opacity: 1;
      };
    }
  }
  .website-blog {
    margin: 30px 0;
    display: grid;
    grid-area: blog;
    grid-template-columns: 4fr 4fr;
    grid-template-areas: "text img";
    align-items: flex-end;
    grid-column-gap: 20px;
    @include mobile {
      grid-template-columns: 1fr;
      grid-template-areas: "img" "text";
    };
    .img-2{
      grid-area: img;
      height: 467px;
      box-shadow: -3px -2px 20px rgba(0,0,0,0.2);
      width: 320px;
      opacity: 0;
      -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(83%, transparent) , to(rgba(250, 250, 250, 0.3)));
      transition: 1s;
      @include mobile {
        opacity: 1;
        margin: 0 auto;
        max-width:280px;
        max-height: 471px;
      };
      img {
        width: 100%;
        height: auto;
      }
    }
    .text {
        grid-area: text;
        padding: 0 40px;
        @include mobile{
          padding: 0 10px;
        };
      h3 {
        grid-area: h2;
        font-size: 2rem;
        background: $gradient-one;
        background-clip: text;
        color: rgba(0,0,0,0);
        opacity: 0;
        transition: .3s;
        padding: 40px;
        @include mobile{
          opacity: 1;
        };
      }
      p {
        padding: 0 30px;
        align-self: flex-start;
        grid-area: p;
        opacity: 0;
        transition: .3s;
        @include mobile{
          opacity: 1;
        };
      }
      ul {
        li{
          margin: 1rem 0;
          transition: .3s;
          font-size: 0.9rem;
          line-height: 1.4rem;
          opacity: 0;
          @include mobile {
              opacity: 1;
            };
          }
        }
      }
    }
  .email {
    margin: 30px 0;
    display: grid;
    grid-area: mail;
    grid-template-columns: 4fr 4fr;
    grid-template-areas: "img text";
    align-items: flex-end;
    grid-column-gap: 20px;
    @include mobile {
      grid-template-columns: 1fr;
      grid-template-areas: "img" "text";
    };
    .img-3{
      grid-area: img;
      align-self: center;
      height: 406px;
      box-shadow: 0 0 20px rgba(0,0,0,0.2);
      width: 640px;
      opacity: 0;
      -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(83%, transparent) , to(rgba(250, 250, 250, 0.3)));
      transition: 1s;
      @include mobile {
        opacity: 1;
        margin: 0 auto;
        max-width:320px;
        max-height: 240px;
      };
      img {
        width: 100%;
        height: auto;
      }
    }
    .text {
      grid-area: text;
      padding: 0 40px;
      @include mobile{
        padding: 0 10px;
      };
      h3 {
        font-size: 2rem;
        background: $gradient-two;
        background-clip: text;
        color: rgba(0,0,0,0);
        opacity: 0;
        transition: .3s;
        padding: 40px;
        @include mobile{
          opacity: 1;
        };
      }
      p {
        padding: 0 30px;
        align-self: flex-start;
        opacity: 0;
        transition: .3s;
        @include mobile{
          opacity: 1;
        };
      }
      ul {
        li{
          margin: 1rem 0;
          transition: .3s;
          font-size: 0.9rem;
          line-height: 1.4rem;
          opacity: 0;
          @include mobile {
              opacity: 1;
            };
          }
        }
      }
    }
  }

//PRICING

.pricing {
  background: $gradient-two;
  margin: 50px 0 20px 0;
  padding: 100px 15%;
  display: grid;
  grid-template-columns: repeat(3 ,minmax(auto,264px));
  grid-template-areas: "h1 h1 h1""one two three";
  justify-content: center;
  @include mobile {
    grid-template-columns: 1fr;
    grid-template-areas: "h1" "one" "two" "three";
  };
  h1 {
    grid-area: h1;
    color: white;
    margin-bottom: 50px;
    text-align: center;
    font-size: 2.5rem;
  }
  .lms-price {
    grid-area: one;
  }
  .mail-price {
    grid-area: two;
  }
  .blog-price {
    grid-area: three;
  }
  .benefits {
    background: white;
    box-shadow: 3px 3px 6px rgba(0,0,0,.4);
    padding: 0 20px 40px 20px;
    margin: 0 10px;
    border-radius: 20px;
    display: grid;
    @include mobile{
      margin: 20px 10px;
    };
    .up-ribbon {
        background: $digital-deepblue;
        margin: 0 -20px 10px -20px;
        border-radius: 20px 20px 0 0;
        padding: 15px 20px;
        height: 50px;
        h4{
          text-align: center;
          color: white;
          font-size: 1.3rem;
          line-height: 1.5rem;
        }
      }
    }
    p{
      margin-bottom: 12px;
      line-height: 1rem;
      font-size: .9rem;
    }
    ul{
      padding-left: 12px;
      li{
        margin-bottom: 10px;
        font-size: .8rem;
        color: $dark-grey;
      }
    }
    .ribbon {
      background: $digital-deepblue;
      margin: 10px -20px;
      padding: 12px;
      height: 50px;
      align-self: end;
      h4 {
        color: white;
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.5rem;
      }
    }
  }

// contact

.contact {
  max-width: 980px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  grid-template-areas: "left right";
  padding: 100px 0;
  @include mobile {
    grid-template-columns: 1fr;
    padding: 0 25px;
    grid-template-areas: "right" "left";
  };
  .left-one {
    grid-area: left;
    h2 {
      margin-bottom: 40px;
    }
    p {
      margin-bottom: 40px;
    }
  }
  .right-one {
    grid-area: right;
    .fa-sun {
      background: $gradient-one;
      background-clip: text;
      margin: auto;
      color: $digital-blue;
      font-size: 12rem;
      animation: spiner 10s linear infinite;
    }
  }
}

button {
  padding: 10px 25px;
  background: $dark-grey;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: .4s;
  font: $font;
  font-size: 1.3rem;
  border: none;
  &:hover{
    background: $digital-orange;
  }
  @include mobile {
    margin-bottom: 30px;
  };

}

@keyframes spiner {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
