<footer>
  <div class="footer-content">
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
.clear {
  margin-top: 20px;
}

#mc_embed_signup .button {
  background: rgb(18, 18, 18);
  transition: .4s;
}

#mc_embed_signup .button:hover {
  background:rgb(7, 177, 214);
}
</style>
<div id="mc_embed_signup">
<form action="https://gitlab.us17.list-manage.com/subscribe/post?u=26e310e516e82027413954ad0&amp;id=b1a8a389b1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Suscríbete a nuestra lista de correos</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_26e310e516e82027413954ad0_b1a8a389b1" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="¡Suscríbeme!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
    <div class="left-side">
      <h2>Otras páginas</h2>
      <br>
      <ul>
        <li><a href="/mision_y_vision">Misión y Visión</a></li>
      </ul>
    </div>
    <div class="right-side">
      <h2>Navegación</h2>
      <br>
      <ul id="nav">
        <li><a href="/">Inicio</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/acerca">Acerca</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
      <br>
      <h2>Sígueme</h2>
      <br>
      <ul id="social">
        <li><a href="https://www.linkedin.com/in/clovisrodriguez" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="https://github.com/clovisrodriguez" target="_blank"><i class="fab fa-github"></i></a></li>
        <li><a href="https://gitlab.com/clovisrodriguez" target="_blank"><i class="fab fa-gitlab"></i></a></li>
      </ul>
      <br>
      <p>®2018 todo los derechos reservados. este sitio web es propiedad de Clovis Rodríguez</p>
    </div>
  </div>
</footer>
