<div class="nav-container">
  <nav>
    <div class="menu-icon">
      <i class="fa fa-bars fa-2x"></i>
    </div>
    <a href="/"><div class="logo">
      <p><span>//</span>CLOVIS</p>
    </div></a>
    <div class="menu">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/acerca">Acerca</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="nav-space">

</div>
