<section id="sidebar-recent-post">
  <h2>Articulos Recientes</h2>
  <ul>
    {{ range where .Site.Pages "Section" "blog" }}
    <li><a href="{{ .Permalink}}">{{.Title}}</a></li>
    {{ end }}
  </ul>
</section>
