{{ define "main" }}
 <div class="main-container">
   <div class="portada">
     <div class="left-half">
       <div class="engine">
         <i class="fa fa-cog cog-1"></i>
         <i class="fa fa-cog cog-2"></i>
         <i class="fa fa-cog cog-3"></i>
       </div>
       <i class="fa fa-cloud cloud"></i>
     </div>
     <div class="right-half">
       <div>
         <h1>¿Como puedes hacer extraordinaria la educación?</h1>
         <br>
         <br>
         <a href="#intro"><i class="fa fa-angle-double-down arrow"></i></a>
       </div>
     </div>
   </div>
   <div class="intro" id="intro">
     <h2>Servicios en la nube<br> (cloud services)</h2>
     <p>La tecnología es un gran cambio de juego para la educación en el siglo XXI tanto a nivel de latinoamérica y para el mundo, gracias a los servicios de computación en la nube podemos poner al alcance de muchas personas contenidos de gran calidad a un costo asequible para muchas personas.<br> <br>Clovis es mi marca personal como profesional y mi proposito es ayudar a mis clientes a crear la mejor experiencia en educación posible para educadores, madres y padres, estudiantes y demás personas que sean parte de la comunidad educativa a través de servicios de software.</p>
   </div>
   <div class="promise">
     <div class="lms">
       <div class="img"><img src="/images/muckup-2.jpg"></div>
       <h3>Sitios web para Instituciones Educativas
</h3>
       <p>El sitio web adecuado es la columna de una comunidad digital, transforma tu presencia en línea y empieza a tener un lugar donde los miembros de tu comunidad educativa empiecen a interactuar. Mantén actualizado con tu sitio web y al corriente de la información más relevante sobre tu organización.
<br><br>También utiliza tu sitio web para interesar a nuevos estudiantes en tu institución. Convierte tu sitio web en un generador de prospectos para que más personas se matriculen en tu institución.
</p>
     </div>
     <div class="website-blog">
       <div class="img-2"><img src="/images/muckup-3.jpg"></div>
       <div class="text">
         <h3>Correos masivos <br>(Email marketing)</h3>
         <p>Mejora la comunicación que tienes con tu comunidad educativa a través del envió de correos directamente a sus direcciones electrónica, estos son los beneficios:</p>
         <ul>
           <li><strong>Información inmediata:</strong> los correos son recibidos tan pronto decides realizar el envío más rápido que cualquier otro medio de comunicación tradicional como el envío de circulares</li>
           <li><strong>Verifica quién ha leído tus correos:</strong> monitorear que los estudiantes han entregado una información involucra tiempo de tu personal, deja todo a mi servicio.</li>
           <li><strong>Elige a quién deseas enviar tus correos:</strong> Te ayudo a segmentar listas de correos, por ejemplo una lista para docentes, otra para estudiantes de cierto grado o madres y padres, de esta forma podemos controlar a quién deseas hacer llegar tu comunicación.</li>
           <li><strong>Crea una relación con tus prospectos:</strong> Si alguna persona a demostrado interés en ser parte de tu comunidad educativa ¡No lo dejes ir, cultiva su interés! Cuenta que hace diferente a tu institución sobre otras y que puede significar para él, ella o ellos ser parte de tu comunidad.</li>
         </ul>
      </div>
     </div>
     <div class="email">
       <div class="img-3"><img src="/images/muckup-1.png"></div>
       <div class="text">
        <h3>Plataforma de aprendizaje (LMS, Learning Management Systems)</h3>
        <p>Es el servicio más importante y que se integra con los otros servicios, un sistema de aprendizaje puede brindar el mayor valor a una comunidad educativa puedes entregar es la interacción, el acceso en todo momento y en todo lugar a las herramientas y el conocimiento que necesitan para progresar en su estudio.</p>
        <br>
        <p>Sencillo de usar para estudiantes, docentes y administradores, la plataforma de aprendizaje que ofrecemos adecúa a todas las necesidades de tu institución, es una gran ayuda para empezar a gestionar y automatizar procesos vitales en el proceso de la enseñanza.</p>
        <ul>
          <li>Una herramienta fácil para crear contenido o incluir contenido existente</li>
          <li>Premia a tus estudiantes, puntos, medallas y certificaciones en la medida que completen cursos</li>
          <li>Data y analíticas, monitorea el progreso de tus estudiantes, detecta baches en el proceso de aprendizaje</li>
        </ul>
       </div>
     </div>
   </div>
   <div class="pricing">
     <h1>Precios</h1>
     <div class="lms-price benefits">
         <div class="up-ribbon">
           <h4>Desarrollo de sitio web</h4>
         </div>
         <p>El plan básico incluye:</p>
        <ul>
           <li>Creación de página de inicio</li>
           <li>Dos páginas internas (generalmente para describir servicios ofrecidos por la institución y sobre la historia o diferencial de esta)</li>
           <li>Blog ( un boletín de noticias y actualidad sobre la institución)</li>
           <li>CTA, llamados a  la acción, claros que correspondan a unos objetivos específicos, como reservar una entrevista para admisiones.</li>
           <li>Información del contacto</li>
        </ul>
         <div class="ribbon">
           <h4>$ 2'079.000<br>Sitio Web</h4>
         </div>
   </div>
     <div class="mail-price benefits">
         <div class="up-ribbon">
           <h4>Correos Masivos</h4>
         </div>
        <p>El plan básico incluye:</p>
        <ul>
          <li>Envió de cuatros correos mensuales</li>
          <li>Creación de listas de correos</li>
          <li>Réplica automática para una lista de correo</li>
          <li>Diseño de plantillas de correos institucionales</li>
         </ul>
         <div class="ribbon">
           <h4>$ 300.000<br>Mensuales</h4>
         </div>
   </div>
     <div class="blog-price benefits">
         <div class="up-ribbon">
           <h4>Sistema de Aprendizaje</h4>
         </div>
         <p>El plan básico incluye:</p>
         <ul>
           <li>Módulo de cursos: constructor de cursos, quizes avanzados, sistema de prerequisitos, puntos de curso, certificaciones y más.</li>
           <li>Módulo de ventas: membresias, licencias de curso, extracurriculares.</li>
           <li>Módulo administrativo: Perfiles de usuarios, notificaciones de email, reportes detallados.</li>
           <li>Módulo tecnológico: Integración con servicios de terceros como un CRM, soporta multimedia (videos, entornos de aprendizaje, texto, documentos en línea) y dispositivos móviles.</li>
         </ul>
         <div class="ribbon">
           <h4>$ 789.000 <br>Mensuales</h4>
         </div>
   </div>
</div>
<div class="contact">
  <div class="left-one">
    <h2>Agenda una cita</h2>
    <p>¿Tienes dudas y deseas conocer más sobre lo que puedo hacer por tu institución? Podemos hablar, te invito agendar una cita puedes, elige la fecha que se acomode a tu disponibilidad para realizar una videollamada o encontrarnos en persona si estas en la ciudad de Bogotá.</p>
        <a href="https://app.hubspot.com/meetings/clovis1992" target="_blank"><button type="button" name="button">Agendar una cita</button></a>
  </div>
  <div class="right-one">
    <i class="fa fa-sun"></i>
  </div>

</div>
</div>
{{end}}
