<ul id="social-sharing">
  <li><a href="https://www.linkedin.com/in/clovisrodriguez" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
  <li><a href="https://github.com/clovisrodriguez" target="_blank"><i class="fab fa-github"></i></a></li>
  <li><a href="https://gitlab.com/clovisrodriguez" target="_blank"><i class="fab fa-gitlab"></i></a></li>
</ul>
